<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel=" stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body class="background_image">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Simple Recipes</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/add">Add recpie</a>
                    </li>
                    <li>
                        <a href="/recipes">Recipes</a>
                    </li>
                    <li>
                        <a href="/edit">Edit recipes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row" id="search_div">
            <form action="/search" method="GET" name="search_form">
                <div class="form-group col-sm-6 col-sm-offset-3">
                    <label for="search">Search Recipe:</label>
                    <input type="text" required name="search" value="{{ request.form.search}}" class="form-control" id="search_browse" placeholder="Pizza ...etc">
                </div>
                <button type="submit" value="Search" class="btn btn-success col-sm-4 col-sm-offset-4" id="search_button">Search</button>
            </form>
        </div>

        <div class="recipe_container">
            <h1 class="col-sm-offset-4">Here is all the recipes!</h1> {% for recipe_row in all_recipes | batch(1, '&nbsp;') %}
            <div class="col-sm-6">
                {% for recipe in recipe_row %}
                <div class="recipe_div" id='{{ recipe[' recipe_name '] }}'>
                    <h2 class="col-sm-6"> {{ recipe['recipe_name'] }} </h2>
                    <img class="recipe_img col-sm-6 pull-right" src="{{recipe.img}}" alt="No imgage added" width="200" height="200">
                    <p class="col-sm-6"> <b>First ingridient:</b> {{ recipe.ingridient_1}} </p>
                    <p class="col-sm-6"> <b>Second ingridient:</b> {{ recipe.ingridient_2}} </p>
                    <p class="col-sm-6"> <b>Third ingridient:</b> {{ recipe.ingridient_3}} </p>
                    <p class="col-sm-6"> <b>Commiters comment:</b> {{ recipe.comment}} </p>
                    <form action="/recipes/{{recipe.recipe_name}}/edit" method="POST">
                        <a href="{{ url_for('edit') }}"><button value="{{ recipe['recipe_name'] }}" type="submit" id="browse_button" class="btn btn-info col-sm-4 col-sm-offset-4">Edit</button></a>
                    </form>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>

</html>
